@model ShowGet
@{
    ViewBag.Title = @Model.Beer.Name;
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="@(Model.Beer.Label == null ? Url.Content("~/imgs/unknownLabel.png") : Model.Beer.Label.LargeImagePath)" alt="Bear label">
            <h1>@Model.Beer.Name</h1>
        </div>
        <div class="col-md-6">
            <p>@Model.Beer.Description</p>
        </div>
    </div>
</div>
<div class="col-md-6">
    <h2>Style</h2>
    <h4>@Model.Beer.Style.Name</h4>
    <p>@Model.Beer.Style.Description</p>
</div>
<div class="col-md-6">
    <h2>Brewers</h2>
    @if (Model.Breweries != null && Model.Breweries.Any())
    {
        foreach (var brewery in Model.Breweries)
        {
            <h4>@brewery.Name</h4>
            <p>@brewery.Description</p>
        }
    }
    else
    {
        <h4>No brewery info</h4>
    }
</div>